* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #293264;
}

body {
  margin: 0;
  background-color: #F5F7FB;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** TYPOGRAPHY **/

/* bold font for title and questions Karla, other Inter*/
h1, h2 {
  font-family: Karla, sans-serif;
}

h2 {
  font-size: 1rem;
  line-height: 19px
}

/** GENERAL STYLING **/

.blob-one, .blob-two {
  position: absolute;
  z-index: -1;
}

.blob-one {
  top: 0;
  right: 0;
}

.blob-two {
  bottom: 0;
  left: 0;
}

/** INTRO COMPONENT **/

.intro-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}

.intro-details {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-title {
  margin: 0 auto 0.4em;
}

.intro-description {
  margin: 0 auto 1.8em;
}

/** QUESTION COMPONENT **/

.start-btn, .check-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  line-height: 19px;
  border: none;
  border-radius: 15px;
  padding: 1em 3.5em;
  cursor: pointer;
}

.check-btn {
  margin: 0 auto;
  margin-top: 0;
  display: block;
}

.questions-container {
  margin-top: 40px; 
}

.question-container {
  max-width: 100%;
  margin: 0 75px 0 75px;
}

.question-container:last-of-type {
  margin-bottom: 1.25em;
}

.question-text {
  max-width: 80%;
}

.answers-container {
  display: flex;
  gap: 13px;
}

.answer {
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  padding: 0.4em 1.5em;
  text-align: center;
  font-size: 0.66rem;
  line-height: 1.2em;
}

.logged {
  outline: 1px solid purple;
}

hr {
  background: #DBDEF0;
  height: 1px;
  border: none;
  margin: 1em auto;
}

/** ANSWER COMPONENT **/

.correct {
  outline: 1px solid green;
}

.wrong {
  outline: 1px solid red;
}

.button-score {
  display: flex;
}

.score {
  margin-left: auto;
  font-weight: bold;
}